* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font: 16pt normal;
    background-color: #36787c;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
}

.title {
    background-color: #77abad;
    color: #36787c;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 40px 40px 0 0;
}

.main {
    background-color: #fff;
    border-radius: 0 0 40px 40px;
    padding: 18px;
    text-align: center;
}

form input {
    width: 200px;
    height: 40px;
    margin: 8px 5px;
    outline-color: #36787c;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    padding: 6px;
    border-radius: 10px;
}

form button {
    background-color: #36787c;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin: 8px 5px;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight:bold;
    cursor: pointer;
}

form button:hover {
    background-color: #5fa1a5;
}

.list {
    margin-top: 40px;
}

ul li {
    list-style: none;
    padding: 4px;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: #c4c4c4;
}

.lista-vazia {
    color: #969696;
    font-size: 14pt;
    cursor: initial;
}

.lista-vazia:hover {
    background-color: #fff;
}

.tarefa-adicionada {
    cursor: pointer;
}
